<div class="tasks-options">
  <div class="add-task">
    <button class="add-task-btn">
      Add Task
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-caret-down"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#000000"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M6 10l6 6l6 -6h-12" />
      </svg>
    </button>
    <div class="dropdown-menu">
      <form class="dropdown-form">
        <label for="name">Name:</label>
        <input type="text" name="name" id="task-name" required />
        <label for="description">Description:</label>
        <input type="text" name="description" id="task-description" required />
        <div class="form-select">
          <div class="form-selecto-group">
            <label for="priority">Priority:</label>
            <select name="priority" id="priority" required>
              <option value="default">Select one</option>
              <option value="low">Low</option>
              <option value="medium">Medium</option>
              <option value="high">High</option>
            </select>
          </div>
          <div class="form-selecto-group">
            <label for="category">Category:</label>
            <select name="category" id="category" required>
              <option value="default">Select one</option>
              <option value="personal">Personal</option>
              <option value="work">Work</option>
              <option value="appointments">Appointments</option>
            </select>
          </div>
        </div>
        <button class="submit-btn" type="">Add</button>
      </form>
    </div>
  </div>
  <div class="filters">
    <form class="form">
      <div class="form-div">
        <label for="priority">Priority:</label>
        <select id="priority">
          <option value="default">Select one</option>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </div>
      <div class="form-div">
        <label for="category">Category:</label>
        <select id="category">
          <option value="default">Select one</option>
          <option value="personal">Personal</option>
          <option value="work">Work</option>
          <option value="appointments">Appointments</option>
        </select>
      </div>
    </form>
  </div>
</div>
<div class="tasks-wrapper"></div>
