<div class="tasks-options">
  <div class="add-task">
    <button class="add-task-btn">
      Add Task
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-plus"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#000000"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 5l0 14" />
        <path d="M5 12l14 0" />
      </svg>
    </button>
  </div>
  <div class="filters">
    <form class="form">
      <div class="form-div">
        <label for="priority">Priority:</label>
        <select id="priority">
          <option value="default">Select one</option>
          <option value="low">Low</option>
          <option value="meidum">Medium</option>
          <option value="high">High</option>
        </select>
      </div>
      <div class="form-div">
        <label for="category">Category:</label>
        <select id="category">
          <option value="default">Select one</option>
          <option value="personal">Personal</option>
          <option value="work">Work</option>
          <option value="apoiments">Apoiments</option>
        </select>
      </div>
    </form>
  </div>
</div>
<div class="tasks-wrapper"></div>
