.tasks-container {
  overflow-y: auto;
  max-height: 35rem;
}

.filters {
  margin-top: 1rem;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.form label {
  font-size: 20px;
}
.form select {
  border: none;
  border-bottom: 1px solid #2e2e2e;
  font-size: 15px;
  padding: 5px;
}

.tasks-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.add-task-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border-radius: 10px;
}

.add-task-btn svg {
  width: 2rem;
}

.tasks-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  overflow: auto;
}

.dropdown-menu {
  border: 3px solid black;
  padding: 2rem;
  margin-top: 10px;
  border-radius: 15px;
}

.dropdown-form {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.submit-btn {
  margin-top: 10px;
  width: 10rem;
  padding: 1rem;
  font-size: x-large;
}
